In [2]:
#LIST 
a = [1,2,4,6,3]

In [4]:
print(a)
print(a[2])

[1, 2, 4, 6, 3]
4

In [5]:
#different items
a1 = ['A',1,3,5,"Hello"]
print(a1)

['A', 1, 3, 5, 'Hello']

In [8]:
#len and count function
t = [1,3,5,0,0,0]
print("length of t is", len(t))
print("number of 0 in t is", t.count(0))

length of t is 6
number of 0 in t is 3

In [9]:
#modifying list
x = [123, 54, 92, 87, 33]
print(x)
x[2] = 33
print(x)

[123, 54, 92, 87, 33]
[123, 54, 33, 87, 33]

In [10]:
#reading list and operations

In [17]:
#READING A LIST 
fruits = []
n = 4
for i in range(0,n,1):
  print("Enter fruit ",i," :")
  fruit = input()
  fruits.append(fruit)
print(fruits)

Enter fruit  0  :
apple
Enter fruit  1  :
banana
Enter fruit  2  :
orange
Enter fruit  3  :
guava
['apple ', 'banana', 'orange', 'guava']

In [18]:
#removing banana
fruits.remove('banana')
print(fruits)

['apple ', 'orange', 'guava']

In [19]:
#adding mango
fruits.append('mango')
print(fruits)

['apple ', 'orange', 'guava', 'mango']

In [20]:
#deleting index 1
del fruits[1]

In [21]:
print(fruits)

['apple ', 'guava', 'mango']

In [23]:
#inserting banana
fruits.insert(2,"banana")
print(fruits)

['apple ', 'guava', 'banana', 'mango']

In [24]:
#sorting 

fruits.sort()
print(fruits)

['apple ', 'banana', 'guava', 'mango']

In [25]:
#modifying list
fruits[1] = "pears"
print(fruits)

['apple ', 'pears', 'guava', 'mango']

In [26]:
#slicing
t = (123, 54, 92, 87, 33)
x = [123, 54, 92, 87, 33]
print('t[1:3] is', t[1:3])
print('x[2:] is', x[2:])
print('x[:-1] is', x[:-1])

t[1:3] is (54, 92)
x[2:] is [92, 87, 33]
x[:-1] is [123, 54, 92, 87]

In [39]:
#tupple
a = () 
b = ("Ala",)
c = (2, 3, False, "Arg")

print(a)
print(b)
print(c)

()
('Ala',)
(2, 3, False, 'Arg')

In [28]:
#modifying tupple
a[1] = 23 #tupple cant be modified

TypeError: 'tuple' object does not support item assignment

In [35]:
#set
l = [1, 2, 3, 2, 3]
s = set(l) 
print(s)
e = set() 
print(e)

{1, 2, 3}
set()

In [36]:
s = set([1, 2, 3, 2, 3])
print(s)
print("number in set:", len(s))
s.add(4)
print(s)
s.add(3)
print(s)

{1, 2, 3}
number in set: 3
{1, 2, 3, 4}
{1, 2, 3, 4}

In [37]:
s = set([1, 2, 3, 2, 3])
print(s)
s.remove(3)
print(s)

{1, 2, 3}
{1, 2}

In [38]:
s1 = set([2, 4, 6, 8, 10])
s2 = set([4, 5, 6, 7])

print("Union:", s1 | s2)
print("Intersection:", s1 & s2)

Union: {2, 4, 5, 6, 7, 8, 10}
Intersection: {4, 6}