In [1]:
#for loop
a = [1,2,3,4,5]
for x in a:
    print(x**x)

1
4
27
256
3125

In [2]:
#dictionary using for loop
d = {1 : "A",2 : "B", 3: "C",4:"D" }
for i, alpha in d.items():
    print(i, '->', alpha)

1 -> A
2 -> B
3 -> C
4 -> D

In [4]:
#prime number
n= int(input("Enter the Number: "))
for i in range(2,n,1):
    if n%i == 0:
        flag = 1
        break
    else:
        flag = 0

if(flag == 0):
    print(n," is Prime")
else:
    print(n," is not prime")

Enter the Number: 13
13  is Prime

In [5]:
for x in [11,13,15,17]:
    print(x)
print(x)

11
13
15
17
17

In [6]:
name = 'Aman Mohanty t'

for c in name:
    print(c)

A
m
a
n

M
o
h
a
n
t
y

t

In [7]:
sports = {"A": "Cricket", "B": "Football", "C": "Hockey", "D": "Badminton", "E": "Kabaddi"}

for x in sports:
    print(x, sports[x])

A Cricket
B Football
C Hockey
D Badminton
E Kabaddi

In [8]:
markList = {'Aman': 96,'Navesh': 86,'Satwik': 29,'Pregs': 94}

for person in markList:
    if markList.get(person) < 45:
        print(person, " : Failed")
        
    elif markList.get(person) > 45:
        print(person, " : Passed")
    else:
        print(person, ' : Just Pass' )

Aman  : Passed
Navesh  : Passed
Satwik  : Failed
Pregs  : Passed

In [16]:

for i in range(5, 0, -1):
    num = i
    for j in range(0, i):
        print(num, end=' ')
    print("\r")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

[0, 1, 4, 9, 16, 25, 36, 49]

In [26]:
city_pops = {'London': 8200000,'Cambridge': 130000,'Edinburgh': 420000,'Glasgow': 1200000}

big_cities = []
for city in city_pops:
    if city_pops[city] >= 150000:
         big_cities.append(city)

print(big_cities)

['London', 'Edinburgh', 'Glasgow']

In [27]:
letters = ['A','B','C','D']

for i in range(len(letters)):
   print(i,letters[i])

0 A
1 B
2 C
3 D

In [28]:
#while loop
n = int(input("Enter a number: "))
sum = 0
i = 1
while i<= n:
    sum = sum + i
    i+=1
print(sum)

Enter a number: 5
15

In [29]:
#insertion sort
a = [12, 11, 13, 5, 6]
for i in range(1, len(a)):
 
        key = a[i]
        j = i-1
        while j >=0 and key < a[j] :
                a[j+1] = a[j]
                j -= 1
        a[j+1] = key
print ("Sorted array is:")
print(a)

Sorted array is:
[5, 6, 11, 12, 13]

In [21]:
#while loop
n = int(input("Enter a number: "))
sum = 0
i = 1
while i<= n:
    sum = sum + i
    i+=1
print(sum)

Enter a number: 5
15